/* цвет заголовков#212121; */
/* цвет параграфа#757575; */
/* бэк секции 3: #F5F4FA; */
/* бэк первой секции и футер background: #2F303A; */
/* цвет мейл и телефон в футере background: rgba(255, 255, 255, 0,6);
 */
body {
  background-color: #ffffff;
  color: #212121;
}
.logo {
  color: #2196f3;
}
ul {
  list-style: none;
}
.site-nav .link {
  color: #212121;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}
/* hero section */
.hero {
  background-color: #2f303a;
}
.hero-section {
  color: #ffffff;
}
.hero-button {
  background-color: #2196f3;
}
.hero-p {
  color: #ffffff;
}
.section-title {
  color: #212121;
}
